{% extends 'main/base.html' %}
{% block content %}
{%load static%}

<section>
    <section class="content-section d-flex align-items-center justify-content-between">
        <div class="text-content-home">
            <h3>Khalid ALMaghyadi</h3>
            <p>Software Engineering<br>Full-Stack Developer</p>
        </div>
    
        <div class="image-content">
            <img src="{% static 'image/WhatsAppImageremovebg.png' %}" alt="Khalid ALMaghyadi" class="profile-image">
        </div>
    </section>

{% endblock %} 