{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{%load static%}

<section>
    <section class="content-section d-flex align-items-center justify-content-between">
        <div class="text-content-home">
            <h3>Khalid ALMaghyadi</h3>
            <p>Software Engineering</p>
            <p class="short-bio">
                I am a passionate developer specializing in building robust web applications.<br> With a strong background in software engineering, I enjoy solving challenging problems and creating efficient solutions.
            </p>
        </div>
        <div class="image-content">
            <img src="{% static 'image/WhatsAppImageremovebg.png' %}" alt="Khalid ALMaghyadi" class="profile-image">
        </div>
    </section>
    
    
    <section class="text-content-home">
        <div class="p-5">
         <h2>What I Do</h2>
        <p>🖥️ <strong>Full-Stack Web Development:</strong> Building scalable and dynamic web applications.</p>
        <p>📊 <strong>Data Analysis:</strong> Turning data into actionable insights with tools and visualization.</p>
        <p>🚀 <strong>Innovative Problem Solving:</strong> Crafting efficient solutions to complex challenges.</p>
        <p>🛠️ <strong>Scalable Architecture:</strong> Ensuring performance and scalability in every project.</p>
    </div>
        </div>
    </section> 
    
{% endblock %} 