{% extends 'main/base.html' %}
{% load static %}
{% block title %}Resume{% endblock %}
{% block content %}
<div class="resume-wrapper">
    <h1 class="resume-title">Khalid ALMaghyadi</h1>
    <p class="contact-info">
        Riyadh, Saudi Arabia | +966 549234591 | 
        <a href="mailto:Khalidalmaghyadi@gmail.com">Khalidalmaghyadi@gmail.com</a>
    </p>

    
    <div class="resume-section-item">
        <h2>Objective</h2>
        <p>Seeking a challenging role in software development to contribute to innovative projects and enhance technical skills.</p>
    </div>
    
    <div class="resume-section-item">
        <h2>Education</h2>
        <ul>
            <li>
                <strong>Bachelor's Degree in Communications and Information College</strong> | 2021 - 2024<br>
                Software Engineering
            </li>
            <li>
                <strong>Diploma Degree, King Khalid University</strong> | 2013 - 2017<br>
                Information System
            </li>
        </ul>
    </div>
    
    <div class="resume-section-item">
        <h2>Certifications</h2>
        <ul>
            <li>Python Bootcamp | Tuwaiq Academy | 09/2024 – Ongoing</li>
        </ul>
    </div>
    
    <div class="resume-section-item">
        <h2>Skills</h2>
        <ul>
            <li><strong>Programming Languages:</strong> C++, Java, Python, Kotlin, Dart</li>
            <li><strong>Web Development:</strong> Django, Backend, Frontend</li>
            <li><strong>Tools and Technologies:</strong> MS Office, SQL, Flutter</li>
        </ul>
    </div>
    
    
    <div class="resume-section-item">
        <h2>Courses</h2>
        <ul>
            <li>Python, Satr Codes, April 2023</li>
            <li>HTML, Satr Codes, December 2022</li>
            <li>CSS, Satr Codes, December 2022</li>
            <li>JavaScript, Satr Codes, December 2022</li>
        </ul>
    </div>
    
    <div class="resume-section-item">
        <h2>Projects</h2>
        <ul>
            <li>
                <strong>Graduation Project:</strong> Let's Padel<br>
                Description: Players and court owners face difficulties in finding suitable courts or players and lack a platform for marketing and managing bookings.<br>
                Tools Used: Flutter, Firebase, Google Cloud Services
            </li>
        </ul>
    </div>
    
    <div class="resume-section-item">
        <h2>Languages</h2>
        <ul>
            <li>Arabic</li>
            <li>English</li>
        </ul>
    </div>
</div>
{% endblock %}
