{% extends 'main/base.html' %}

{% block title %}All Blog Posts{% endblock %}

{% block content %}
<!---scorlling -->
<!---احتاج تعديل -->
<div class="container mt-5">
    <h2>All Blog Posts</h2>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ blog.featured_image.url }}" class="card-img-top" alt="{{ blog.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
     </div>
</div>
{% endblock %}
